## Import Requisite Lbraries

In [1]:
import pandas as pd
import os  # import operating system for dir

/mnt/c/Users/lshpaner/Documents/GitHub_Repos/eda_toolkit/eda_venv_311/lib/python3.11/site-packages/numpy/_core/getlimits.py:548: UserWarning: Signature b'\x00\xd0\xcc\xcc\xcc\xcc\xcc\xcc\xfb\xbf\x00\x00\x00\x00\x00\x00' for <class 'numpy.longdouble'> does not match any known type: falling back to type probe function.
This warnings indicates broken support for the dtype!
  machar = _get_machar(dtype)

## Ensure Directory

In [2]:
from eda_toolkit import ensure_directory

base_path = os.path.join(os.pardir)

# Go up one level from 'notebooks' to parent directory,
# then into the 'data' folder
data_path = os.path.join(os.pardir, "data")
data_output = os.path.join(os.pardir, "data_output")

# create image paths
image_path_png = os.path.join(base_path, "images", "png_images")
image_path_svg = os.path.join(base_path, "images", "svg_images")

# Use the function to ensure'data' directory exists
ensure_directory(data_path)
ensure_directory(data_output)
ensure_directory(image_path_png)
ensure_directory(image_path_svg)

Directory exists: ../data
Directory exists: ../data_output
Directory exists: ../images/png_images
Directory exists: ../images/svg_images

## UCI ML Repository

In [3]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets

# Combine X and y into entire df
df = X.join(y, how="inner")

df.to_csv(os.path.join(data_path, "adult_income.csv"))

## Generate Table 1

In [4]:
from eda_toolkit import generate_table1

# Get DataFrame and Markdown string
df1 = generate_table1(
    df,
    value_counts=True,
    decimal_places=0,
)

In [5]:
# Just get markdown string (no tuple)
md_only = generate_table1(
    df,
    export_markdown=True,
    return_markdown_only=True,
    combine=False,
    include_types="continuous",
)

In [6]:
table1 = generate_table1(
    df,
    export_markdown=True,
    combine=False,
    include_types="categorical",
)

In [7]:
# Save Markdown to file
generate_table1(
    df,
    value_counts=True,
    export_markdown=True,
    markdown_path="../hello_categorical.md",
    combine=False,
)

In [8]:
# Get DataFrame and Markdown string
df2 = generate_table1(
    df,
    value_counts=True,
    include_types="categorical",
    decimal_places=0,
    combine=True,
    # pretty_print=True,
)

In [9]:
print(df2)

 Variable           | Type        | Mean | SD | Median | Min | Max | Mode               | Missing (n) | Missing (%) | Count  | Proportion (%)
--------------------|-------------|------|----|--------|-----|-----|--------------------|-------------|-------------|--------|----------------
 workclass = Privat | Categorical |      |    |        |     |     | Private            | 963         | 2           | 33,906 | 69
 workclass = Self-e | Categorical |      |    |        |     |     | Private            | 963         | 2           | 3,862  | 8
 workclass = Local- | Categorical |      |    |        |     |     | Private            | 963         | 2           | 3,136  | 6
 workclass = State- | Categorical |      |    |        |     |     | Private            | 963         | 2           | 1,981  | 4
 workclass = ?      | Categorical |      |    |        |     |     | Private            | 963         | 2           | 1,836  | 4
 workclass = Self-e | Categorical |      |    |        |     |     | Private            | 963         | 2           | 1,695  | 3
 workclass = Federa | Categorical |      |    |        |     |     | Private            | 963         | 2           | 1,432  | 3
 workclass = NaN    | Categorical |      |    |        |     |     | Private            | 963         | 2           | 963    | 2
 workclass = Withou | Categorical |      |    |        |     |     | Private            | 963         | 2           | 21     | 0
 workclass = Never- | Categorical |      |    |        |     |     | Private            | 963         | 2           | 10     | 0
 education = HS-gra | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 15,784 | 32
 education = Some-c | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 10,878 | 22
 education = Bachel | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 8,025  | 16
 education = Master | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 2,657  | 5
 education = Assoc- | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 2,061  | 4
 education = 11th   | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 1,812  | 4
 education = Assoc- | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 1,601  | 3
 education = 10th   | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 1,389  | 3
 education = 7th-8t | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 955    | 2
 education = Prof-s | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 834    | 2
 education = 9th    | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 756    | 2
 education = 12th   | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 657    | 1
 education = Doctor | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 594    | 1
 education = 5th-6t | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 509    | 1
 education = 1st-4t | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 247    | 1
 education = Presch | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 83     | 0
 marital-status = M | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 22,379 | 46
 marital-status = N | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 16,117 | 33
 marital-status = D | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 6,633  | 14
 marital-status = S | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 1,530  | 3
 marital-status = W | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 1,518  | 3
 marital-status = M | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 628    | 1
 marital-status = M | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 37     | 0
 occupation = Prof- | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 6,172  | 13
 occupation = Craft | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 6,112  | 13
 occupation = Exec- | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 6,086  | 12
 occupation = Adm-c | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 5,611  | 11
 occupation = Sales | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 5,504  | 11
 occupation = Other | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 4,923  | 10
 occupation = Machi | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 3,022  | 6
 occupation = Trans | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 2,355  | 5
 occupation = Handl | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 2,072  | 4
 occupation = ?     | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 1,843  | 4
 occupation = Farmi | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 1,490  | 3
 occupation = Tech- | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 1,446  | 3
 occupation = Prote | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 983    | 2
 occupation = NaN   | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 966    | 2
 occupation = Priv- | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 242    | 0
 occupation = Armed | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 15     | 0
 relationship = Hus | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 19,716 | 40
 relationship = Not | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 12,583 | 26
 relationship = Own | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 7,581  | 16
 relationship = Unm | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 5,125  | 10
 relationship = Wif | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 2,331  | 5
 relationship = Oth | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 1,506  | 3
 race = White       | Categorical |      |    |        |     |     | White              | 0           | 0           | 41,762 | 86
 race = Black       | Categorical |      |    |        |     |     | White              | 0           | 0           | 4,685  | 10
 race = Asian-Pac-I | Categorical |      |    |        |     |     | White              | 0           | 0           | 1,519  | 3
 race = Amer-Indian | Categorical |      |    |        |     |     | White              | 0           | 0           | 470    | 1
 race = Other       | Categorical |      |    |        |     |     | White              | 0           | 0           | 406    | 1
 sex = Male         | Categorical |      |    |        |     |     | Male               | 0           | 0           | 32,650 | 67
 sex = Female       | Categorical |      |    |        |     |     | Male               | 0           | 0           | 16,192 | 33
 native-country = U | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 43,832 | 90
 native-country = M | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 951    | 2
 native-country = ? | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 583    | 1
 native-country = P | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 295    | 1
 native-country = N | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 274    | 1
 native-country = G | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 206    | 0
 native-country = P | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 184    | 0
 native-country = C | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 182    | 0
 native-country = E | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 155    | 0
 native-country = I | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 151    | 0
 native-country = C | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 138    | 0
 native-country = E | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 127    | 0
 native-country = C | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 122    | 0
 native-country = S | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 115    | 0
 native-country = J | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 106    | 0
 native-country = I | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 105    | 0
 native-country = D | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 103    | 0
 native-country = J | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 92     | 0
 native-country = G | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 88     | 0
 native-country = P | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 87     | 0
 native-country = V | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 86     | 0
 native-country = C | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 85     | 0
 native-country = H | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 75     | 0
 native-country = P | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 67     | 0
 native-country = T | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 65     | 0
 native-country = I | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 59     | 0
 native-country = G | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 49     | 0
 native-country = N | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 49     | 0
 native-country = P | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 46     | 0
 native-country = E | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 45     | 0
 native-country = F | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 38     | 0
 native-country = I | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 37     | 0
 native-country = T | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 30     | 0
 native-country = H | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 30     | 0
 native-country = C | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 28     | 0
 native-country = T | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 27     | 0
 native-country = O | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 23     | 0
 native-country = L | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 23     | 0
 native-country = Y | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 23     | 0
 native-country = S | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 21     | 0
 native-country = H | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 20     | 0
 native-country = H | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 19     | 0
 native-country = H | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 1      | 0
 income = <=50K     | Categorical |      |    |        |     |     | <=50K              | 0           | 0           | 24,720 | 51
 income = <=50K.    | Categorical |      |    |        |     |     | <=50K              | 0           | 0           | 12,435 | 25
 income = >50K      | Categorical |      |    |        |     |     | <=50K              | 0           | 0           | 7,841  | 16
 income = >50K.     | Categorical |      |    |        |     |     | <=50K              | 0           | 0           | 3,846  | 8

In [10]:
df3, df4 = generate_table1(
    df,
    value_counts=True,
    include_types="both",
    decimal_places=0,
    combine=False,
)

In [11]:
print(df3)

 Variable           | Type        | Mean | SD | Median | Min | Max | Mode               | Missing (n) | Missing (%) | Count  | Proportion (%)
--------------------|-------------|------|----|--------|-----|-----|--------------------|-------------|-------------|--------|----------------
 workclass = Privat | Categorical |      |    |        |     |     | Private            | 963         | 2           | 33,906 | 69
 workclass = Self-e | Categorical |      |    |        |     |     | Private            | 963         | 2           | 3,862  | 8
 workclass = Local- | Categorical |      |    |        |     |     | Private            | 963         | 2           | 3,136  | 6
 workclass = State- | Categorical |      |    |        |     |     | Private            | 963         | 2           | 1,981  | 4
 workclass = ?      | Categorical |      |    |        |     |     | Private            | 963         | 2           | 1,836  | 4
 workclass = Self-e | Categorical |      |    |        |     |     | Private            | 963         | 2           | 1,695  | 3
 workclass = Federa | Categorical |      |    |        |     |     | Private            | 963         | 2           | 1,432  | 3
 workclass = NaN    | Categorical |      |    |        |     |     | Private            | 963         | 2           | 963    | 2
 workclass = Withou | Categorical |      |    |        |     |     | Private            | 963         | 2           | 21     | 0
 workclass = Never- | Categorical |      |    |        |     |     | Private            | 963         | 2           | 10     | 0
 education = HS-gra | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 15,784 | 32
 education = Some-c | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 10,878 | 22
 education = Bachel | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 8,025  | 16
 education = Master | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 2,657  | 5
 education = Assoc- | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 2,061  | 4
 education = 11th   | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 1,812  | 4
 education = Assoc- | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 1,601  | 3
 education = 10th   | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 1,389  | 3
 education = 7th-8t | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 955    | 2
 education = Prof-s | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 834    | 2
 education = 9th    | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 756    | 2
 education = 12th   | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 657    | 1
 education = Doctor | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 594    | 1
 education = 5th-6t | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 509    | 1
 education = 1st-4t | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 247    | 1
 education = Presch | Categorical |      |    |        |     |     | HS-grad            | 0           | 0           | 83     | 0
 marital-status = M | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 22,379 | 46
 marital-status = N | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 16,117 | 33
 marital-status = D | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 6,633  | 14
 marital-status = S | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 1,530  | 3
 marital-status = W | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 1,518  | 3
 marital-status = M | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 628    | 1
 marital-status = M | Categorical |      |    |        |     |     | Married-civ-spouse | 0           | 0           | 37     | 0
 occupation = Prof- | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 6,172  | 13
 occupation = Craft | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 6,112  | 13
 occupation = Exec- | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 6,086  | 12
 occupation = Adm-c | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 5,611  | 11
 occupation = Sales | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 5,504  | 11
 occupation = Other | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 4,923  | 10
 occupation = Machi | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 3,022  | 6
 occupation = Trans | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 2,355  | 5
 occupation = Handl | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 2,072  | 4
 occupation = ?     | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 1,843  | 4
 occupation = Farmi | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 1,490  | 3
 occupation = Tech- | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 1,446  | 3
 occupation = Prote | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 983    | 2
 occupation = NaN   | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 966    | 2
 occupation = Priv- | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 242    | 0
 occupation = Armed | Categorical |      |    |        |     |     | Prof-specialty     | 966         | 2           | 15     | 0
 relationship = Hus | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 19,716 | 40
 relationship = Not | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 12,583 | 26
 relationship = Own | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 7,581  | 16
 relationship = Unm | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 5,125  | 10
 relationship = Wif | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 2,331  | 5
 relationship = Oth | Categorical |      |    |        |     |     | Husband            | 0           | 0           | 1,506  | 3
 race = White       | Categorical |      |    |        |     |     | White              | 0           | 0           | 41,762 | 86
 race = Black       | Categorical |      |    |        |     |     | White              | 0           | 0           | 4,685  | 10
 race = Asian-Pac-I | Categorical |      |    |        |     |     | White              | 0           | 0           | 1,519  | 3
 race = Amer-Indian | Categorical |      |    |        |     |     | White              | 0           | 0           | 470    | 1
 race = Other       | Categorical |      |    |        |     |     | White              | 0           | 0           | 406    | 1
 sex = Male         | Categorical |      |    |        |     |     | Male               | 0           | 0           | 32,650 | 67
 sex = Female       | Categorical |      |    |        |     |     | Male               | 0           | 0           | 16,192 | 33
 native-country = U | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 43,832 | 90
 native-country = M | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 951    | 2
 native-country = ? | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 583    | 1
 native-country = P | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 295    | 1
 native-country = N | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 274    | 1
 native-country = G | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 206    | 0
 native-country = P | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 184    | 0
 native-country = C | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 182    | 0
 native-country = E | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 155    | 0
 native-country = I | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 151    | 0
 native-country = C | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 138    | 0
 native-country = E | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 127    | 0
 native-country = C | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 122    | 0
 native-country = S | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 115    | 0
 native-country = J | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 106    | 0
 native-country = I | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 105    | 0
 native-country = D | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 103    | 0
 native-country = J | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 92     | 0
 native-country = G | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 88     | 0
 native-country = P | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 87     | 0
 native-country = V | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 86     | 0
 native-country = C | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 85     | 0
 native-country = H | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 75     | 0
 native-country = P | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 67     | 0
 native-country = T | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 65     | 0
 native-country = I | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 59     | 0
 native-country = G | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 49     | 0
 native-country = N | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 49     | 0
 native-country = P | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 46     | 0
 native-country = E | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 45     | 0
 native-country = F | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 38     | 0
 native-country = I | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 37     | 0
 native-country = T | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 30     | 0
 native-country = H | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 30     | 0
 native-country = C | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 28     | 0
 native-country = T | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 27     | 0
 native-country = O | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 23     | 0
 native-country = L | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 23     | 0
 native-country = Y | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 23     | 0
 native-country = S | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 21     | 0
 native-country = H | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 20     | 0
 native-country = H | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 19     | 0
 native-country = H | Categorical |      |    |        |     |     | United-States      | 274         | 1           | 1      | 0
 income = <=50K     | Categorical |      |    |        |     |     | <=50K              | 0           | 0           | 24,720 | 51
 income = <=50K.    | Categorical |      |    |        |     |     | <=50K              | 0           | 0           | 12,435 | 25
 income = >50K      | Categorical |      |    |        |     |     | <=50K              | 0           | 0           | 7,841  | 16
 income = >50K.     | Categorical |      |    |        |     |     | <=50K              | 0           | 0           | 3,846  | 8

## Add Ids

In [ ]:
from eda_toolkit import add_ids

# Add a column of unique IDs with 9 digits and call it "census_id"
df = add_ids(
    df=df,
    id_colname="census_id",
    num_digits=9,
    seed=111,
    set_as_index=True,
)

df.head()

In [ ]:
if df.index.is_unique:
    print("The index is unique.")
else:
    print("The index is not unique.")

## Trailing Period Removal

In [ ]:
from eda_toolkit import strip_trailing_period

# Create a sample dataframe with trailing periods in some values
data = {
    "values": [1.0, 2.0, 3.0, 4.0, 5.0, 6.0],
}
df_trail = pd.DataFrame(data)

# Remove trailing periods from the 'values' column
df_trail = strip_trailing_period(df=df_trail, column_name="values")
df_trail

## Standardized Dates

In [ ]:
from eda_toolkit import parse_date_with_rule

# Sample date strings
date_strings = ["15/04/2021", "04/15/2021", "01/12/2020", "12/01/2020"]

# Standardize the date strings
standardized_dates = [parse_date_with_rule(date) for date in date_strings]

print(standardized_dates)

In [ ]:
# Creating the DataFrame
data = {
    "date_column": [
        "31/12/2021",
        "01/01/2022",
        "12/31/2021",
        "13/02/2022",
        "07/04/2022",
    ],
    "name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "amount": [100.0, 150.5, 200.75, 250.25, 300.0],
}

df_fake = pd.DataFrame(data)

# Apply the function to the DataFrame column
df_fake["standardized_date"] = df_fake["date_column"].apply(parse_date_with_rule)

print(df_fake)

## DataFrame Analysis

In [ ]:
from eda_toolkit import dataframe_profiler

dataframe_profiler(df=df, background_color="brown")

## Binning Numerical Columns

In [ ]:
bin_ages = [
    0,
    18,
    30,
    40,
    50,
    60,
    70,
    80,
    90,
    100,
    float("inf"),
]

In [ ]:
label_ages = [
    "< 18",
    "18-29",
    "30-39",
    "40-49",
    "50-59",
    "60-69",
    "70-79",
    "80-89",
    "90-99",
    "100 +",
]

In [ ]:
df["age_group"] = pd.cut(
    df["age"],
    bins=bin_ages,
    labels=label_ages,
    right=False,
)

## Generating Summary Tables for Variable Combinations

In [ ]:
from eda_toolkit import summarize_all_combinations

# Define unique variables for the analysis
unique_vars = [
    "age_group",
    "workclass",
    "education",
    "occupation",
    "race",
    "sex",
    "income",
]

# Generate summary tables for all combinations of the specified variables
summary_tables, all_combinations = summarize_all_combinations(
    df=df,
    data_path=data_output,
    variables=unique_vars,
    data_name="census_summary_tables.xlsx",
)

# Print all combinations of variables
print(all_combinations)

## Saving DataFrames to Excel with Customized Formatting

In [ ]:
from eda_toolkit import save_dataframes_to_excel

# Example usage
file_name = "df_census.xlsx"  # Name of the output Excel file
file_path = os.path.join(data_path, file_name)

# filter DataFrame to Ages 18-40
filtered_df = df[(df["age"] > 18) & (df["age"] < 40)]

df_dict = {
    "original_df": df,
    "ages_18_to_40": filtered_df,
}

save_dataframes_to_excel(
    file_path=file_path,
    df_dict=df_dict,
    decimal_places=0,
)

## Creating Contingency Tables

In [ ]:
from eda_toolkit import contingency_table

# Example usage
contingency_table(
    df=df,
    cols=[
        "age_group",
        "workclass",
        "race",
        "sex",
    ],
    sort_by=1,
)

## Highlighting Specific Columns in a DataFrame

In [ ]:
from eda_toolkit import highlight_columns

# Applying the highlight function
highlighted_df = highlight_columns(
    df=df.head(),
    columns=["age", "education"],
    color="brown",
)

highlighted_df