## Import Requisite Lbraries

In [1]:
import pandas as pd
import os  # import operating system for dir

## Ensure Directory

In [2]:
from eda_toolkit import ensure_directory

base_path = os.path.join(os.pardir)

# Go up one level from 'notebooks' to parent directory,
# then into the 'data' folder
data_path = os.path.join(os.pardir, "data")
data_output = os.path.join(os.pardir, "data_output")

# create image paths
image_path_png = os.path.join(base_path, "images", "png_images")
image_path_svg = os.path.join(base_path, "images", "svg_images")

# Use the function to ensure'data' directory exists
ensure_directory(data_path)
ensure_directory(data_output)
ensure_directory(image_path_png)
ensure_directory(image_path_svg)

Directory exists: ../data
Directory exists: ../data_output
Directory exists: ../images/png_images
Directory exists: ../images/svg_images

## UCI ML Repository

In [3]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets

# Combine X and y into entire df
df = X.join(y, how="inner")

## Add Ids

In [4]:
from eda_toolkit import add_ids

# Add a column of unique IDs with 9 digits and call it "census_id"
df = add_ids(
    df=df,
    id_colname="census_id",
    num_digits=9,
    seed=111,
    set_as_index=True,
)

df.head()

The DataFrame index is unique.

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
census_id,,,,,,,,,,,,,,,
582248222,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
561810758,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
598098459,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
776705221,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
479262902,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
if df.index.is_unique:
    print("The index is unique.")
else:
    print("The index is not unique.")

The index is unique.

## Save Out the DataFrame

In [6]:
df.to_csv(os.path.join(data_path, "adult_income.csv"))
df.to_parquet(os.path.join(data_path, "adult_income.parquet"))

In [7]:
from eda_toolkit import generate_table1

table1 = generate_table1(
    df=df,
    value_counts=True,
    max_categories=3,
    export_markdown=True,
    markdown_path="table1_summary.md",
)

table1

## Generate Table 1

In [8]:
from eda_toolkit import generate_table1

# Get DataFrame and Markdown string
df1 = generate_table1(
    df,
    value_counts=True,
    decimal_places=0,
)

In [9]:
df1

In [10]:
# Just get markdown string (no tuple)
md_only = generate_table1(
    df,
    export_markdown=True,
    return_markdown_only=True,
    combine=False,
    include_types="continuous",
)

In [11]:
md_only

'| Variable | Type | Mean | SD | Median | Min | Max | Mode | Missing (n) | Missing (%) | Count | Proportion (%) |\n| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |\n| age | Continuous | 38.64 | 13.71 | 37.00 | 17.00 | 90.00 | 36.00 | 0 | 0.00 | 48,842 | 100.00 |\n| capital-gain | Continuous | 1,079.07 | 7,452.02 | 0.00 | 0.00 | 99,999.00 | 0.00 | 0 | 0.00 | 48,842 | 100.00 |\n| capital-loss | Continuous | 87.50 | 403.00 | 0.00 | 0.00 | 4,356.00 | 0.00 | 0 | 0.00 | 48,842 | 100.00 |\n| education-num | Continuous | 10.08 | 2.57 | 10.00 | 1.00 | 16.00 | 9.00 | 0 | 0.00 | 48,842 | 100.00 |\n| fnlwgt | Continuous | 189,664.13 | 105,604.03 | 178,144.50 | 12,285.00 | 1,490,400.00 | 203,488.00 | 0 | 0.00 | 48,842 | 100.00 |\n| hours-per-week | Continuous | 40.42 | 12.39 | 40.00 | 1.00 | 99.00 | 40.00 | 0 | 0.00 | 48,842 | 100.00 |'

In [12]:
table1 = generate_table1(
    df,
    export_markdown=True,
    combine=False,
    include_types="categorical",
)

 Variable       | Type        | Mode               | Missing (n) | Missing (%) | Count  | Proportion (%)
----------------|-------------|--------------------|-------------|-------------|--------|----------------
 workclass      | Categorical | Private            | 963         | 1.97        | 47,879 | 98.03
 education      | Categorical | HS-grad            | 0           | 0.00        | 48,842 | 100.00
 marital-status | Categorical | Married-civ-spouse | 0           | 0.00        | 48,842 | 100.00
 occupation     | Categorical | Prof-specialty     | 966         | 1.98        | 47,876 | 98.02
 relationship   | Categorical | Husband            | 0           | 0.00        | 48,842 | 100.00
 race           | Categorical | White              | 0           | 0.00        | 48,842 | 100.00
 sex            | Categorical | Male               | 0           | 0.00        | 48,842 | 100.00
 native-country | Categorical | United-States      | 274         | 0.56        | 48,568 | 99.44
 income         | Categorical | <=50K              | 0           | 0.00        | 48,842 | 100.00

In [13]:
# Save Markdown to file
generate_table1(
    df,
    value_counts=True,
    export_markdown=True,
    markdown_path="custom_prefix_categorical.md",
    combine=False,
)

 Variable       | Type       | Mean       | SD         | Median     | Min       | Max          | Mode       | Missing (n) | Missing (%) | Count  | Proportion (%)
----------------|------------|------------|------------|------------|-----------|--------------|------------|-------------|-------------|--------|----------------
 age            | Continuous | 38.64      | 13.71      | 37.00      | 17.00     | 90.00        | 36.00      | 0           | 0.00        | 48,842 | 100.00
 capital-gain   | Continuous | 1,079.07   | 7,452.02   | 0.00       | 0.00      | 99,999.00    | 0.00       | 0           | 0.00        | 48,842 | 100.00
 capital-loss   | Continuous | 87.50      | 403.00     | 0.00       | 0.00      | 4,356.00     | 0.00       | 0           | 0.00        | 48,842 | 100.00
 education-num  | Continuous | 10.08      | 2.57       | 10.00      | 1.00      | 16.00        | 9.00       | 0           | 0.00        | 48,842 | 100.00
 fnlwgt         | Continuous | 189,664.13 | 105,604.03 | 178,144.50 | 12,285.00 | 1,490,400.00 | 203,488.00 | 0           | 0.00        | 48,842 | 100.00
 hours-per-week | Continuous | 40.42      | 12.39      | 40.00      | 1.00      | 99.00        | 40.00      | 0           | 0.00        | 48,842 | 100.00

 Variable           | Type        | Mode               | Missing (n) | Missing (%) | Count  | Proportion (%)
--------------------|-------------|--------------------|-------------|-------------|--------|----------------
 workclass = Privat | Categorical | Private            | 963         | 1.97        | 33,906 | 69.42
 workclass = Self-e | Categorical | Private            | 963         | 1.97        | 3,862  | 7.91
 workclass = Local- | Categorical | Private            | 963         | 1.97        | 3,136  | 6.42
 workclass = State- | Categorical | Private            | 963         | 1.97        | 1,981  | 4.06
 workclass = ?      | Categorical | Private            | 963         | 1.97        | 1,836  | 3.76
 workclass = Self-e | Categorical | Private            | 963         | 1.97        | 1,695  | 3.47
 workclass = Federa | Categorical | Private            | 963         | 1.97        | 1,432  | 2.93
 workclass = NaN    | Categorical | Private            | 963         | 1.97        | 963    | 1.97
 workclass = Withou | Categorical | Private            | 963         | 1.97        | 21     | 0.04
 workclass = Never- | Categorical | Private            | 963         | 1.97        | 10     | 0.02
 education = HS-gra | Categorical | HS-grad            | 0           | 0.00        | 15,784 | 32.32
 education = Some-c | Categorical | HS-grad            | 0           | 0.00        | 10,878 | 22.27
 education = Bachel | Categorical | HS-grad            | 0           | 0.00        | 8,025  | 16.43
 education = Master | Categorical | HS-grad            | 0           | 0.00        | 2,657  | 5.44
 education = Assoc- | Categorical | HS-grad            | 0           | 0.00        | 2,061  | 4.22
 education = 11th   | Categorical | HS-grad            | 0           | 0.00        | 1,812  | 3.71
 education = Assoc- | Categorical | HS-grad            | 0           | 0.00        | 1,601  | 3.28
 education = 10th   | Categorical | HS-grad            | 0           | 0.00        | 1,389  | 2.84
 education = 7th-8t | Categorical | HS-grad            | 0           | 0.00        | 955    | 1.96
 education = Prof-s | Categorical | HS-grad            | 0           | 0.00        | 834    | 1.71
 education = 9th    | Categorical | HS-grad            | 0           | 0.00        | 756    | 1.55
 education = 12th   | Categorical | HS-grad            | 0           | 0.00        | 657    | 1.35
 education = Doctor | Categorical | HS-grad            | 0           | 0.00        | 594    | 1.22
 education = 5th-6t | Categorical | HS-grad            | 0           | 0.00        | 509    | 1.04
 education = 1st-4t | Categorical | HS-grad            | 0           | 0.00        | 247    | 0.51
 education = Presch | Categorical | HS-grad            | 0           | 0.00        | 83     | 0.17
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 22,379 | 45.82
 marital-status = N | Categorical | Married-civ-spouse | 0           | 0.00        | 16,117 | 33.00
 marital-status = D | Categorical | Married-civ-spouse | 0           | 0.00        | 6,633  | 13.58
 marital-status = S | Categorical | Married-civ-spouse | 0           | 0.00        | 1,530  | 3.13
 marital-status = W | Categorical | Married-civ-spouse | 0           | 0.00        | 1,518  | 3.11
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 628    | 1.29
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 37     | 0.08
 occupation = Prof- | Categorical | Prof-specialty     | 966         | 1.98        | 6,172  | 12.64
 occupation = Craft | Categorical | Prof-specialty     | 966         | 1.98        | 6,112  | 12.51
 occupation = Exec- | Categorical | Prof-specialty     | 966         | 1.98        | 6,086  | 12.46
 occupation = Adm-c | Categorical | Prof-specialty     | 966         | 1.98        | 5,611  | 11.49
 occupation = Sales | Categorical | Prof-specialty     | 966         | 1.98        | 5,504  | 11.27
 occupation = Other | Categorical | Prof-specialty     | 966         | 1.98        | 4,923  | 10.08
 occupation = Machi | Categorical | Prof-specialty     | 966         | 1.98        | 3,022  | 6.19
 occupation = Trans | Categorical | Prof-specialty     | 966         | 1.98        | 2,355  | 4.82
 occupation = Handl | Categorical | Prof-specialty     | 966         | 1.98        | 2,072  | 4.24
 occupation = ?     | Categorical | Prof-specialty     | 966         | 1.98        | 1,843  | 3.77
 occupation = Farmi | Categorical | Prof-specialty     | 966         | 1.98        | 1,490  | 3.05
 occupation = Tech- | Categorical | Prof-specialty     | 966         | 1.98        | 1,446  | 2.96
 occupation = Prote | Categorical | Prof-specialty     | 966         | 1.98        | 983    | 2.01
 occupation = NaN   | Categorical | Prof-specialty     | 966         | 1.98        | 966    | 1.98
 occupation = Priv- | Categorical | Prof-specialty     | 966         | 1.98        | 242    | 0.50
 occupation = Armed | Categorical | Prof-specialty     | 966         | 1.98        | 15     | 0.03
 relationship = Hus | Categorical | Husband            | 0           | 0.00        | 19,716 | 40.37
 relationship = Not | Categorical | Husband            | 0           | 0.00        | 12,583 | 25.76
 relationship = Own | Categorical | Husband            | 0           | 0.00        | 7,581  | 15.52
 relationship = Unm | Categorical | Husband            | 0           | 0.00        | 5,125  | 10.49
 relationship = Wif | Categorical | Husband            | 0           | 0.00        | 2,331  | 4.77
 relationship = Oth | Categorical | Husband            | 0           | 0.00        | 1,506  | 3.08
 race = White       | Categorical | White              | 0           | 0.00        | 41,762 | 85.50
 race = Black       | Categorical | White              | 0           | 0.00        | 4,685  | 9.59
 race = Asian-Pac-I | Categorical | White              | 0           | 0.00        | 1,519  | 3.11
 race = Amer-Indian | Categorical | White              | 0           | 0.00        | 470    | 0.96
 race = Other       | Categorical | White              | 0           | 0.00        | 406    | 0.83
 sex = Male         | Categorical | Male               | 0           | 0.00        | 32,650 | 66.85
 sex = Female       | Categorical | Male               | 0           | 0.00        | 16,192 | 33.15
 native-country = U | Categorical | United-States      | 274         | 0.56        | 43,832 | 89.74
 native-country = M | Categorical | United-States      | 274         | 0.56        | 951    | 1.95
 native-country = ? | Categorical | United-States      | 274         | 0.56        | 583    | 1.19
 native-country = P | Categorical | United-States      | 274         | 0.56        | 295    | 0.60
 native-country = N | Categorical | United-States      | 274         | 0.56        | 274    | 0.56
 native-country = G | Categorical | United-States      | 274         | 0.56        | 206    | 0.42
 native-country = P | Categorical | United-States      | 274         | 0.56        | 184    | 0.38
 native-country = C | Categorical | United-States      | 274         | 0.56        | 182    | 0.37
 native-country = E | Categorical | United-States      | 274         | 0.56        | 155    | 0.32
 native-country = I | Categorical | United-States      | 274         | 0.56        | 151    | 0.31
 native-country = C | Categorical | United-States      | 274         | 0.56        | 138    | 0.28
 native-country = E | Categorical | United-States      | 274         | 0.56        | 127    | 0.26
 native-country = C | Categorical | United-States      | 274         | 0.56        | 122    | 0.25
 native-country = S | Categorical | United-States      | 274         | 0.56        | 115    | 0.24
 native-country = J | Categorical | United-States      | 274         | 0.56        | 106    | 0.22
 native-country = I | Categorical | United-States      | 274         | 0.56        | 105    | 0.21
 native-country = D | Categorical | United-States      | 274         | 0.56        | 103    | 0.21
 native-country = J | Categorical | United-States      | 274         | 0.56        | 92     | 0.19
 native-country = G | Categorical | United-States      | 274         | 0.56        | 88     | 0.18
 native-country = P | Categorical | United-States      | 274         | 0.56        | 87     | 0.18
 native-country = V | Categorical | United-States      | 274         | 0.56        | 86     | 0.18
 native-country = C | Categorical | United-States      | 274         | 0.56        | 85     | 0.17
 native-country = H | Categorical | United-States      | 274         | 0.56        | 75     | 0.15
 native-country = P | Categorical | United-States      | 274         | 0.56        | 67     | 0.14
 native-country = T | Categorical | United-States      | 274         | 0.56        | 65     | 0.13
 native-country = I | Categorical | United-States      | 274         | 0.56        | 59     | 0.12
 native-country = G | Categorical | United-States      | 274         | 0.56        | 49     | 0.10
 native-country = N | Categorical | United-States      | 274         | 0.56        | 49     | 0.10
 native-country = P | Categorical | United-States      | 274         | 0.56        | 46     | 0.09
 native-country = E | Categorical | United-States      | 274         | 0.56        | 45     | 0.09
 native-country = F | Categorical | United-States      | 274         | 0.56        | 38     | 0.08
 native-country = I | Categorical | United-States      | 274         | 0.56        | 37     | 0.08
 native-country = T | Categorical | United-States      | 274         | 0.56        | 30     | 0.06
 native-country = H | Categorical | United-States      | 274         | 0.56        | 30     | 0.06
 native-country = C | Categorical | United-States      | 274         | 0.56        | 28     | 0.06
 native-country = T | Categorical | United-States      | 274         | 0.56        | 27     | 0.06
 native-country = O | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = L | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = Y | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = S | Categorical | United-States      | 274         | 0.56        | 21     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 20     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 19     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 1      | 0.00
 income = <=50K     | Categorical | <=50K              | 0           | 0.00        | 24,720 | 50.61
 income = <=50K.    | Categorical | <=50K              | 0           | 0.00        | 12,435 | 25.46
 income = >50K      | Categorical | <=50K              | 0           | 0.00        | 7,841  | 16.05
 income = >50K.     | Categorical | <=50K              | 0           | 0.00        | 3,846  | 7.87

(<eda_toolkit.data_manager.TableWrapper at 0x7f22ab9e9990>,
 <eda_toolkit.data_manager.TableWrapper at 0x7f22aba03850>)

In [14]:
# Get DataFrame and Markdown string
df2 = generate_table1(
    df,
    value_counts=True,
    include_types="categorical",
    # decimal_places=0,
    combine=True,
    # pretty_print=True,
)

In [15]:
df2

In [16]:
print(df2)

 Variable           | Type        | Mode               | Missing (n) | Missing (%) | Count  | Proportion (%)
--------------------|-------------|--------------------|-------------|-------------|--------|----------------
 workclass = Privat | Categorical | Private            | 963         | 1.97        | 33,906 | 69.42
 workclass = Self-e | Categorical | Private            | 963         | 1.97        | 3,862  | 7.91
 workclass = Local- | Categorical | Private            | 963         | 1.97        | 3,136  | 6.42
 workclass = State- | Categorical | Private            | 963         | 1.97        | 1,981  | 4.06
 workclass = ?      | Categorical | Private            | 963         | 1.97        | 1,836  | 3.76
 workclass = Self-e | Categorical | Private            | 963         | 1.97        | 1,695  | 3.47
 workclass = Federa | Categorical | Private            | 963         | 1.97        | 1,432  | 2.93
 workclass = NaN    | Categorical | Private            | 963         | 1.97        | 963    | 1.97
 workclass = Withou | Categorical | Private            | 963         | 1.97        | 21     | 0.04
 workclass = Never- | Categorical | Private            | 963         | 1.97        | 10     | 0.02
 education = HS-gra | Categorical | HS-grad            | 0           | 0.00        | 15,784 | 32.32
 education = Some-c | Categorical | HS-grad            | 0           | 0.00        | 10,878 | 22.27
 education = Bachel | Categorical | HS-grad            | 0           | 0.00        | 8,025  | 16.43
 education = Master | Categorical | HS-grad            | 0           | 0.00        | 2,657  | 5.44
 education = Assoc- | Categorical | HS-grad            | 0           | 0.00        | 2,061  | 4.22
 education = 11th   | Categorical | HS-grad            | 0           | 0.00        | 1,812  | 3.71
 education = Assoc- | Categorical | HS-grad            | 0           | 0.00        | 1,601  | 3.28
 education = 10th   | Categorical | HS-grad            | 0           | 0.00        | 1,389  | 2.84
 education = 7th-8t | Categorical | HS-grad            | 0           | 0.00        | 955    | 1.96
 education = Prof-s | Categorical | HS-grad            | 0           | 0.00        | 834    | 1.71
 education = 9th    | Categorical | HS-grad            | 0           | 0.00        | 756    | 1.55
 education = 12th   | Categorical | HS-grad            | 0           | 0.00        | 657    | 1.35
 education = Doctor | Categorical | HS-grad            | 0           | 0.00        | 594    | 1.22
 education = 5th-6t | Categorical | HS-grad            | 0           | 0.00        | 509    | 1.04
 education = 1st-4t | Categorical | HS-grad            | 0           | 0.00        | 247    | 0.51
 education = Presch | Categorical | HS-grad            | 0           | 0.00        | 83     | 0.17
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 22,379 | 45.82
 marital-status = N | Categorical | Married-civ-spouse | 0           | 0.00        | 16,117 | 33.00
 marital-status = D | Categorical | Married-civ-spouse | 0           | 0.00        | 6,633  | 13.58
 marital-status = S | Categorical | Married-civ-spouse | 0           | 0.00        | 1,530  | 3.13
 marital-status = W | Categorical | Married-civ-spouse | 0           | 0.00        | 1,518  | 3.11
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 628    | 1.29
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 37     | 0.08
 occupation = Prof- | Categorical | Prof-specialty     | 966         | 1.98        | 6,172  | 12.64
 occupation = Craft | Categorical | Prof-specialty     | 966         | 1.98        | 6,112  | 12.51
 occupation = Exec- | Categorical | Prof-specialty     | 966         | 1.98        | 6,086  | 12.46
 occupation = Adm-c | Categorical | Prof-specialty     | 966         | 1.98        | 5,611  | 11.49
 occupation = Sales | Categorical | Prof-specialty     | 966         | 1.98        | 5,504  | 11.27
 occupation = Other | Categorical | Prof-specialty     | 966         | 1.98        | 4,923  | 10.08
 occupation = Machi | Categorical | Prof-specialty     | 966         | 1.98        | 3,022  | 6.19
 occupation = Trans | Categorical | Prof-specialty     | 966         | 1.98        | 2,355  | 4.82
 occupation = Handl | Categorical | Prof-specialty     | 966         | 1.98        | 2,072  | 4.24
 occupation = ?     | Categorical | Prof-specialty     | 966         | 1.98        | 1,843  | 3.77
 occupation = Farmi | Categorical | Prof-specialty     | 966         | 1.98        | 1,490  | 3.05
 occupation = Tech- | Categorical | Prof-specialty     | 966         | 1.98        | 1,446  | 2.96
 occupation = Prote | Categorical | Prof-specialty     | 966         | 1.98        | 983    | 2.01
 occupation = NaN   | Categorical | Prof-specialty     | 966         | 1.98        | 966    | 1.98
 occupation = Priv- | Categorical | Prof-specialty     | 966         | 1.98        | 242    | 0.50
 occupation = Armed | Categorical | Prof-specialty     | 966         | 1.98        | 15     | 0.03
 relationship = Hus | Categorical | Husband            | 0           | 0.00        | 19,716 | 40.37
 relationship = Not | Categorical | Husband            | 0           | 0.00        | 12,583 | 25.76
 relationship = Own | Categorical | Husband            | 0           | 0.00        | 7,581  | 15.52
 relationship = Unm | Categorical | Husband            | 0           | 0.00        | 5,125  | 10.49
 relationship = Wif | Categorical | Husband            | 0           | 0.00        | 2,331  | 4.77
 relationship = Oth | Categorical | Husband            | 0           | 0.00        | 1,506  | 3.08
 race = White       | Categorical | White              | 0           | 0.00        | 41,762 | 85.50
 race = Black       | Categorical | White              | 0           | 0.00        | 4,685  | 9.59
 race = Asian-Pac-I | Categorical | White              | 0           | 0.00        | 1,519  | 3.11
 race = Amer-Indian | Categorical | White              | 0           | 0.00        | 470    | 0.96
 race = Other       | Categorical | White              | 0           | 0.00        | 406    | 0.83
 sex = Male         | Categorical | Male               | 0           | 0.00        | 32,650 | 66.85
 sex = Female       | Categorical | Male               | 0           | 0.00        | 16,192 | 33.15
 native-country = U | Categorical | United-States      | 274         | 0.56        | 43,832 | 89.74
 native-country = M | Categorical | United-States      | 274         | 0.56        | 951    | 1.95
 native-country = ? | Categorical | United-States      | 274         | 0.56        | 583    | 1.19
 native-country = P | Categorical | United-States      | 274         | 0.56        | 295    | 0.60
 native-country = N | Categorical | United-States      | 274         | 0.56        | 274    | 0.56
 native-country = G | Categorical | United-States      | 274         | 0.56        | 206    | 0.42
 native-country = P | Categorical | United-States      | 274         | 0.56        | 184    | 0.38
 native-country = C | Categorical | United-States      | 274         | 0.56        | 182    | 0.37
 native-country = E | Categorical | United-States      | 274         | 0.56        | 155    | 0.32
 native-country = I | Categorical | United-States      | 274         | 0.56        | 151    | 0.31
 native-country = C | Categorical | United-States      | 274         | 0.56        | 138    | 0.28
 native-country = E | Categorical | United-States      | 274         | 0.56        | 127    | 0.26
 native-country = C | Categorical | United-States      | 274         | 0.56        | 122    | 0.25
 native-country = S | Categorical | United-States      | 274         | 0.56        | 115    | 0.24
 native-country = J | Categorical | United-States      | 274         | 0.56        | 106    | 0.22
 native-country = I | Categorical | United-States      | 274         | 0.56        | 105    | 0.21
 native-country = D | Categorical | United-States      | 274         | 0.56        | 103    | 0.21
 native-country = J | Categorical | United-States      | 274         | 0.56        | 92     | 0.19
 native-country = G | Categorical | United-States      | 274         | 0.56        | 88     | 0.18
 native-country = P | Categorical | United-States      | 274         | 0.56        | 87     | 0.18
 native-country = V | Categorical | United-States      | 274         | 0.56        | 86     | 0.18
 native-country = C | Categorical | United-States      | 274         | 0.56        | 85     | 0.17
 native-country = H | Categorical | United-States      | 274         | 0.56        | 75     | 0.15
 native-country = P | Categorical | United-States      | 274         | 0.56        | 67     | 0.14
 native-country = T | Categorical | United-States      | 274         | 0.56        | 65     | 0.13
 native-country = I | Categorical | United-States      | 274         | 0.56        | 59     | 0.12
 native-country = G | Categorical | United-States      | 274         | 0.56        | 49     | 0.10
 native-country = N | Categorical | United-States      | 274         | 0.56        | 49     | 0.10
 native-country = P | Categorical | United-States      | 274         | 0.56        | 46     | 0.09
 native-country = E | Categorical | United-States      | 274         | 0.56        | 45     | 0.09
 native-country = F | Categorical | United-States      | 274         | 0.56        | 38     | 0.08
 native-country = I | Categorical | United-States      | 274         | 0.56        | 37     | 0.08
 native-country = T | Categorical | United-States      | 274         | 0.56        | 30     | 0.06
 native-country = H | Categorical | United-States      | 274         | 0.56        | 30     | 0.06
 native-country = C | Categorical | United-States      | 274         | 0.56        | 28     | 0.06
 native-country = T | Categorical | United-States      | 274         | 0.56        | 27     | 0.06
 native-country = O | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = L | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = Y | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = S | Categorical | United-States      | 274         | 0.56        | 21     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 20     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 19     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 1      | 0.00
 income = <=50K     | Categorical | <=50K              | 0           | 0.00        | 24,720 | 50.61
 income = <=50K.    | Categorical | <=50K              | 0           | 0.00        | 12,435 | 25.46
 income = >50K      | Categorical | <=50K              | 0           | 0.00        | 7,841  | 16.05
 income = >50K.     | Categorical | <=50K              | 0           | 0.00        | 3,846  | 7.87

In [17]:
df3, df4 = generate_table1(
    df,
    value_counts=True,
    include_types="both",
    combine=False,
)

 Variable       | Type       | Mean       | SD         | Median     | Min       | Max          | Mode       | Missing (n) | Missing (%) | Count  | Proportion (%)
----------------|------------|------------|------------|------------|-----------|--------------|------------|-------------|-------------|--------|----------------
 age            | Continuous | 38.64      | 13.71      | 37.00      | 17.00     | 90.00        | 36.00      | 0           | 0.00        | 48,842 | 100.00
 capital-gain   | Continuous | 1,079.07   | 7,452.02   | 0.00       | 0.00      | 99,999.00    | 0.00       | 0           | 0.00        | 48,842 | 100.00
 capital-loss   | Continuous | 87.50      | 403.00     | 0.00       | 0.00      | 4,356.00     | 0.00       | 0           | 0.00        | 48,842 | 100.00
 education-num  | Continuous | 10.08      | 2.57       | 10.00      | 1.00      | 16.00        | 9.00       | 0           | 0.00        | 48,842 | 100.00
 fnlwgt         | Continuous | 189,664.13 | 105,604.03 | 178,144.50 | 12,285.00 | 1,490,400.00 | 203,488.00 | 0           | 0.00        | 48,842 | 100.00
 hours-per-week | Continuous | 40.42      | 12.39      | 40.00      | 1.00      | 99.00        | 40.00      | 0           | 0.00        | 48,842 | 100.00

 Variable           | Type        | Mode               | Missing (n) | Missing (%) | Count  | Proportion (%)
--------------------|-------------|--------------------|-------------|-------------|--------|----------------
 workclass = Privat | Categorical | Private            | 963         | 1.97        | 33,906 | 69.42
 workclass = Self-e | Categorical | Private            | 963         | 1.97        | 3,862  | 7.91
 workclass = Local- | Categorical | Private            | 963         | 1.97        | 3,136  | 6.42
 workclass = State- | Categorical | Private            | 963         | 1.97        | 1,981  | 4.06
 workclass = ?      | Categorical | Private            | 963         | 1.97        | 1,836  | 3.76
 workclass = Self-e | Categorical | Private            | 963         | 1.97        | 1,695  | 3.47
 workclass = Federa | Categorical | Private            | 963         | 1.97        | 1,432  | 2.93
 workclass = NaN    | Categorical | Private            | 963         | 1.97        | 963    | 1.97
 workclass = Withou | Categorical | Private            | 963         | 1.97        | 21     | 0.04
 workclass = Never- | Categorical | Private            | 963         | 1.97        | 10     | 0.02
 education = HS-gra | Categorical | HS-grad            | 0           | 0.00        | 15,784 | 32.32
 education = Some-c | Categorical | HS-grad            | 0           | 0.00        | 10,878 | 22.27
 education = Bachel | Categorical | HS-grad            | 0           | 0.00        | 8,025  | 16.43
 education = Master | Categorical | HS-grad            | 0           | 0.00        | 2,657  | 5.44
 education = Assoc- | Categorical | HS-grad            | 0           | 0.00        | 2,061  | 4.22
 education = 11th   | Categorical | HS-grad            | 0           | 0.00        | 1,812  | 3.71
 education = Assoc- | Categorical | HS-grad            | 0           | 0.00        | 1,601  | 3.28
 education = 10th   | Categorical | HS-grad            | 0           | 0.00        | 1,389  | 2.84
 education = 7th-8t | Categorical | HS-grad            | 0           | 0.00        | 955    | 1.96
 education = Prof-s | Categorical | HS-grad            | 0           | 0.00        | 834    | 1.71
 education = 9th    | Categorical | HS-grad            | 0           | 0.00        | 756    | 1.55
 education = 12th   | Categorical | HS-grad            | 0           | 0.00        | 657    | 1.35
 education = Doctor | Categorical | HS-grad            | 0           | 0.00        | 594    | 1.22
 education = 5th-6t | Categorical | HS-grad            | 0           | 0.00        | 509    | 1.04
 education = 1st-4t | Categorical | HS-grad            | 0           | 0.00        | 247    | 0.51
 education = Presch | Categorical | HS-grad            | 0           | 0.00        | 83     | 0.17
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 22,379 | 45.82
 marital-status = N | Categorical | Married-civ-spouse | 0           | 0.00        | 16,117 | 33.00
 marital-status = D | Categorical | Married-civ-spouse | 0           | 0.00        | 6,633  | 13.58
 marital-status = S | Categorical | Married-civ-spouse | 0           | 0.00        | 1,530  | 3.13
 marital-status = W | Categorical | Married-civ-spouse | 0           | 0.00        | 1,518  | 3.11
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 628    | 1.29
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 37     | 0.08
 occupation = Prof- | Categorical | Prof-specialty     | 966         | 1.98        | 6,172  | 12.64
 occupation = Craft | Categorical | Prof-specialty     | 966         | 1.98        | 6,112  | 12.51
 occupation = Exec- | Categorical | Prof-specialty     | 966         | 1.98        | 6,086  | 12.46
 occupation = Adm-c | Categorical | Prof-specialty     | 966         | 1.98        | 5,611  | 11.49
 occupation = Sales | Categorical | Prof-specialty     | 966         | 1.98        | 5,504  | 11.27
 occupation = Other | Categorical | Prof-specialty     | 966         | 1.98        | 4,923  | 10.08
 occupation = Machi | Categorical | Prof-specialty     | 966         | 1.98        | 3,022  | 6.19
 occupation = Trans | Categorical | Prof-specialty     | 966         | 1.98        | 2,355  | 4.82
 occupation = Handl | Categorical | Prof-specialty     | 966         | 1.98        | 2,072  | 4.24
 occupation = ?     | Categorical | Prof-specialty     | 966         | 1.98        | 1,843  | 3.77
 occupation = Farmi | Categorical | Prof-specialty     | 966         | 1.98        | 1,490  | 3.05
 occupation = Tech- | Categorical | Prof-specialty     | 966         | 1.98        | 1,446  | 2.96
 occupation = Prote | Categorical | Prof-specialty     | 966         | 1.98        | 983    | 2.01
 occupation = NaN   | Categorical | Prof-specialty     | 966         | 1.98        | 966    | 1.98
 occupation = Priv- | Categorical | Prof-specialty     | 966         | 1.98        | 242    | 0.50
 occupation = Armed | Categorical | Prof-specialty     | 966         | 1.98        | 15     | 0.03
 relationship = Hus | Categorical | Husband            | 0           | 0.00        | 19,716 | 40.37
 relationship = Not | Categorical | Husband            | 0           | 0.00        | 12,583 | 25.76
 relationship = Own | Categorical | Husband            | 0           | 0.00        | 7,581  | 15.52
 relationship = Unm | Categorical | Husband            | 0           | 0.00        | 5,125  | 10.49
 relationship = Wif | Categorical | Husband            | 0           | 0.00        | 2,331  | 4.77
 relationship = Oth | Categorical | Husband            | 0           | 0.00        | 1,506  | 3.08
 race = White       | Categorical | White              | 0           | 0.00        | 41,762 | 85.50
 race = Black       | Categorical | White              | 0           | 0.00        | 4,685  | 9.59
 race = Asian-Pac-I | Categorical | White              | 0           | 0.00        | 1,519  | 3.11
 race = Amer-Indian | Categorical | White              | 0           | 0.00        | 470    | 0.96
 race = Other       | Categorical | White              | 0           | 0.00        | 406    | 0.83
 sex = Male         | Categorical | Male               | 0           | 0.00        | 32,650 | 66.85
 sex = Female       | Categorical | Male               | 0           | 0.00        | 16,192 | 33.15
 native-country = U | Categorical | United-States      | 274         | 0.56        | 43,832 | 89.74
 native-country = M | Categorical | United-States      | 274         | 0.56        | 951    | 1.95
 native-country = ? | Categorical | United-States      | 274         | 0.56        | 583    | 1.19
 native-country = P | Categorical | United-States      | 274         | 0.56        | 295    | 0.60
 native-country = N | Categorical | United-States      | 274         | 0.56        | 274    | 0.56
 native-country = G | Categorical | United-States      | 274         | 0.56        | 206    | 0.42
 native-country = P | Categorical | United-States      | 274         | 0.56        | 184    | 0.38
 native-country = C | Categorical | United-States      | 274         | 0.56        | 182    | 0.37
 native-country = E | Categorical | United-States      | 274         | 0.56        | 155    | 0.32
 native-country = I | Categorical | United-States      | 274         | 0.56        | 151    | 0.31
 native-country = C | Categorical | United-States      | 274         | 0.56        | 138    | 0.28
 native-country = E | Categorical | United-States      | 274         | 0.56        | 127    | 0.26
 native-country = C | Categorical | United-States      | 274         | 0.56        | 122    | 0.25
 native-country = S | Categorical | United-States      | 274         | 0.56        | 115    | 0.24
 native-country = J | Categorical | United-States      | 274         | 0.56        | 106    | 0.22
 native-country = I | Categorical | United-States      | 274         | 0.56        | 105    | 0.21
 native-country = D | Categorical | United-States      | 274         | 0.56        | 103    | 0.21
 native-country = J | Categorical | United-States      | 274         | 0.56        | 92     | 0.19
 native-country = G | Categorical | United-States      | 274         | 0.56        | 88     | 0.18
 native-country = P | Categorical | United-States      | 274         | 0.56        | 87     | 0.18
 native-country = V | Categorical | United-States      | 274         | 0.56        | 86     | 0.18
 native-country = C | Categorical | United-States      | 274         | 0.56        | 85     | 0.17
 native-country = H | Categorical | United-States      | 274         | 0.56        | 75     | 0.15
 native-country = P | Categorical | United-States      | 274         | 0.56        | 67     | 0.14
 native-country = T | Categorical | United-States      | 274         | 0.56        | 65     | 0.13
 native-country = I | Categorical | United-States      | 274         | 0.56        | 59     | 0.12
 native-country = G | Categorical | United-States      | 274         | 0.56        | 49     | 0.10
 native-country = N | Categorical | United-States      | 274         | 0.56        | 49     | 0.10
 native-country = P | Categorical | United-States      | 274         | 0.56        | 46     | 0.09
 native-country = E | Categorical | United-States      | 274         | 0.56        | 45     | 0.09
 native-country = F | Categorical | United-States      | 274         | 0.56        | 38     | 0.08
 native-country = I | Categorical | United-States      | 274         | 0.56        | 37     | 0.08
 native-country = T | Categorical | United-States      | 274         | 0.56        | 30     | 0.06
 native-country = H | Categorical | United-States      | 274         | 0.56        | 30     | 0.06
 native-country = C | Categorical | United-States      | 274         | 0.56        | 28     | 0.06
 native-country = T | Categorical | United-States      | 274         | 0.56        | 27     | 0.06
 native-country = O | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = L | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = Y | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = S | Categorical | United-States      | 274         | 0.56        | 21     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 20     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 19     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 1      | 0.00
 income = <=50K     | Categorical | <=50K              | 0           | 0.00        | 24,720 | 50.61
 income = <=50K.    | Categorical | <=50K              | 0           | 0.00        | 12,435 | 25.46
 income = >50K      | Categorical | <=50K              | 0           | 0.00        | 7,841  | 16.05
 income = >50K.     | Categorical | <=50K              | 0           | 0.00        | 3,846  | 7.87

In [18]:
print(df3)

 Variable       | Type       | Mean       | SD         | Median     | Min       | Max          | Mode       | Missing (n) | Missing (%) | Count  | Proportion (%)
----------------|------------|------------|------------|------------|-----------|--------------|------------|-------------|-------------|--------|----------------
 age            | Continuous | 38.64      | 13.71      | 37.00      | 17.00     | 90.00        | 36.00      | 0           | 0.00        | 48,842 | 100.00
 capital-gain   | Continuous | 1,079.07   | 7,452.02   | 0.00       | 0.00      | 99,999.00    | 0.00       | 0           | 0.00        | 48,842 | 100.00
 capital-loss   | Continuous | 87.50      | 403.00     | 0.00       | 0.00      | 4,356.00     | 0.00       | 0           | 0.00        | 48,842 | 100.00
 education-num  | Continuous | 10.08      | 2.57       | 10.00      | 1.00      | 16.00        | 9.00       | 0           | 0.00        | 48,842 | 100.00
 fnlwgt         | Continuous | 189,664.13 | 105,604.03 | 178,144.50 | 12,285.00 | 1,490,400.00 | 203,488.00 | 0           | 0.00        | 48,842 | 100.00
 hours-per-week | Continuous | 40.42      | 12.39      | 40.00      | 1.00      | 99.00        | 40.00      | 0           | 0.00        | 48,842 | 100.00

In [19]:
df3

In [20]:
df4

In [21]:
print(df4)

 Variable           | Type        | Mode               | Missing (n) | Missing (%) | Count  | Proportion (%)
--------------------|-------------|--------------------|-------------|-------------|--------|----------------
 workclass = Privat | Categorical | Private            | 963         | 1.97        | 33,906 | 69.42
 workclass = Self-e | Categorical | Private            | 963         | 1.97        | 3,862  | 7.91
 workclass = Local- | Categorical | Private            | 963         | 1.97        | 3,136  | 6.42
 workclass = State- | Categorical | Private            | 963         | 1.97        | 1,981  | 4.06
 workclass = ?      | Categorical | Private            | 963         | 1.97        | 1,836  | 3.76
 workclass = Self-e | Categorical | Private            | 963         | 1.97        | 1,695  | 3.47
 workclass = Federa | Categorical | Private            | 963         | 1.97        | 1,432  | 2.93
 workclass = NaN    | Categorical | Private            | 963         | 1.97        | 963    | 1.97
 workclass = Withou | Categorical | Private            | 963         | 1.97        | 21     | 0.04
 workclass = Never- | Categorical | Private            | 963         | 1.97        | 10     | 0.02
 education = HS-gra | Categorical | HS-grad            | 0           | 0.00        | 15,784 | 32.32
 education = Some-c | Categorical | HS-grad            | 0           | 0.00        | 10,878 | 22.27
 education = Bachel | Categorical | HS-grad            | 0           | 0.00        | 8,025  | 16.43
 education = Master | Categorical | HS-grad            | 0           | 0.00        | 2,657  | 5.44
 education = Assoc- | Categorical | HS-grad            | 0           | 0.00        | 2,061  | 4.22
 education = 11th   | Categorical | HS-grad            | 0           | 0.00        | 1,812  | 3.71
 education = Assoc- | Categorical | HS-grad            | 0           | 0.00        | 1,601  | 3.28
 education = 10th   | Categorical | HS-grad            | 0           | 0.00        | 1,389  | 2.84
 education = 7th-8t | Categorical | HS-grad            | 0           | 0.00        | 955    | 1.96
 education = Prof-s | Categorical | HS-grad            | 0           | 0.00        | 834    | 1.71
 education = 9th    | Categorical | HS-grad            | 0           | 0.00        | 756    | 1.55
 education = 12th   | Categorical | HS-grad            | 0           | 0.00        | 657    | 1.35
 education = Doctor | Categorical | HS-grad            | 0           | 0.00        | 594    | 1.22
 education = 5th-6t | Categorical | HS-grad            | 0           | 0.00        | 509    | 1.04
 education = 1st-4t | Categorical | HS-grad            | 0           | 0.00        | 247    | 0.51
 education = Presch | Categorical | HS-grad            | 0           | 0.00        | 83     | 0.17
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 22,379 | 45.82
 marital-status = N | Categorical | Married-civ-spouse | 0           | 0.00        | 16,117 | 33.00
 marital-status = D | Categorical | Married-civ-spouse | 0           | 0.00        | 6,633  | 13.58
 marital-status = S | Categorical | Married-civ-spouse | 0           | 0.00        | 1,530  | 3.13
 marital-status = W | Categorical | Married-civ-spouse | 0           | 0.00        | 1,518  | 3.11
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 628    | 1.29
 marital-status = M | Categorical | Married-civ-spouse | 0           | 0.00        | 37     | 0.08
 occupation = Prof- | Categorical | Prof-specialty     | 966         | 1.98        | 6,172  | 12.64
 occupation = Craft | Categorical | Prof-specialty     | 966         | 1.98        | 6,112  | 12.51
 occupation = Exec- | Categorical | Prof-specialty     | 966         | 1.98        | 6,086  | 12.46
 occupation = Adm-c | Categorical | Prof-specialty     | 966         | 1.98        | 5,611  | 11.49
 occupation = Sales | Categorical | Prof-specialty     | 966         | 1.98        | 5,504  | 11.27
 occupation = Other | Categorical | Prof-specialty     | 966         | 1.98        | 4,923  | 10.08
 occupation = Machi | Categorical | Prof-specialty     | 966         | 1.98        | 3,022  | 6.19
 occupation = Trans | Categorical | Prof-specialty     | 966         | 1.98        | 2,355  | 4.82
 occupation = Handl | Categorical | Prof-specialty     | 966         | 1.98        | 2,072  | 4.24
 occupation = ?     | Categorical | Prof-specialty     | 966         | 1.98        | 1,843  | 3.77
 occupation = Farmi | Categorical | Prof-specialty     | 966         | 1.98        | 1,490  | 3.05
 occupation = Tech- | Categorical | Prof-specialty     | 966         | 1.98        | 1,446  | 2.96
 occupation = Prote | Categorical | Prof-specialty     | 966         | 1.98        | 983    | 2.01
 occupation = NaN   | Categorical | Prof-specialty     | 966         | 1.98        | 966    | 1.98
 occupation = Priv- | Categorical | Prof-specialty     | 966         | 1.98        | 242    | 0.50
 occupation = Armed | Categorical | Prof-specialty     | 966         | 1.98        | 15     | 0.03
 relationship = Hus | Categorical | Husband            | 0           | 0.00        | 19,716 | 40.37
 relationship = Not | Categorical | Husband            | 0           | 0.00        | 12,583 | 25.76
 relationship = Own | Categorical | Husband            | 0           | 0.00        | 7,581  | 15.52
 relationship = Unm | Categorical | Husband            | 0           | 0.00        | 5,125  | 10.49
 relationship = Wif | Categorical | Husband            | 0           | 0.00        | 2,331  | 4.77
 relationship = Oth | Categorical | Husband            | 0           | 0.00        | 1,506  | 3.08
 race = White       | Categorical | White              | 0           | 0.00        | 41,762 | 85.50
 race = Black       | Categorical | White              | 0           | 0.00        | 4,685  | 9.59
 race = Asian-Pac-I | Categorical | White              | 0           | 0.00        | 1,519  | 3.11
 race = Amer-Indian | Categorical | White              | 0           | 0.00        | 470    | 0.96
 race = Other       | Categorical | White              | 0           | 0.00        | 406    | 0.83
 sex = Male         | Categorical | Male               | 0           | 0.00        | 32,650 | 66.85
 sex = Female       | Categorical | Male               | 0           | 0.00        | 16,192 | 33.15
 native-country = U | Categorical | United-States      | 274         | 0.56        | 43,832 | 89.74
 native-country = M | Categorical | United-States      | 274         | 0.56        | 951    | 1.95
 native-country = ? | Categorical | United-States      | 274         | 0.56        | 583    | 1.19
 native-country = P | Categorical | United-States      | 274         | 0.56        | 295    | 0.60
 native-country = N | Categorical | United-States      | 274         | 0.56        | 274    | 0.56
 native-country = G | Categorical | United-States      | 274         | 0.56        | 206    | 0.42
 native-country = P | Categorical | United-States      | 274         | 0.56        | 184    | 0.38
 native-country = C | Categorical | United-States      | 274         | 0.56        | 182    | 0.37
 native-country = E | Categorical | United-States      | 274         | 0.56        | 155    | 0.32
 native-country = I | Categorical | United-States      | 274         | 0.56        | 151    | 0.31
 native-country = C | Categorical | United-States      | 274         | 0.56        | 138    | 0.28
 native-country = E | Categorical | United-States      | 274         | 0.56        | 127    | 0.26
 native-country = C | Categorical | United-States      | 274         | 0.56        | 122    | 0.25
 native-country = S | Categorical | United-States      | 274         | 0.56        | 115    | 0.24
 native-country = J | Categorical | United-States      | 274         | 0.56        | 106    | 0.22
 native-country = I | Categorical | United-States      | 274         | 0.56        | 105    | 0.21
 native-country = D | Categorical | United-States      | 274         | 0.56        | 103    | 0.21
 native-country = J | Categorical | United-States      | 274         | 0.56        | 92     | 0.19
 native-country = G | Categorical | United-States      | 274         | 0.56        | 88     | 0.18
 native-country = P | Categorical | United-States      | 274         | 0.56        | 87     | 0.18
 native-country = V | Categorical | United-States      | 274         | 0.56        | 86     | 0.18
 native-country = C | Categorical | United-States      | 274         | 0.56        | 85     | 0.17
 native-country = H | Categorical | United-States      | 274         | 0.56        | 75     | 0.15
 native-country = P | Categorical | United-States      | 274         | 0.56        | 67     | 0.14
 native-country = T | Categorical | United-States      | 274         | 0.56        | 65     | 0.13
 native-country = I | Categorical | United-States      | 274         | 0.56        | 59     | 0.12
 native-country = G | Categorical | United-States      | 274         | 0.56        | 49     | 0.10
 native-country = N | Categorical | United-States      | 274         | 0.56        | 49     | 0.10
 native-country = P | Categorical | United-States      | 274         | 0.56        | 46     | 0.09
 native-country = E | Categorical | United-States      | 274         | 0.56        | 45     | 0.09
 native-country = F | Categorical | United-States      | 274         | 0.56        | 38     | 0.08
 native-country = I | Categorical | United-States      | 274         | 0.56        | 37     | 0.08
 native-country = T | Categorical | United-States      | 274         | 0.56        | 30     | 0.06
 native-country = H | Categorical | United-States      | 274         | 0.56        | 30     | 0.06
 native-country = C | Categorical | United-States      | 274         | 0.56        | 28     | 0.06
 native-country = T | Categorical | United-States      | 274         | 0.56        | 27     | 0.06
 native-country = O | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = L | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = Y | Categorical | United-States      | 274         | 0.56        | 23     | 0.05
 native-country = S | Categorical | United-States      | 274         | 0.56        | 21     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 20     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 19     | 0.04
 native-country = H | Categorical | United-States      | 274         | 0.56        | 1      | 0.00
 income = <=50K     | Categorical | <=50K              | 0           | 0.00        | 24,720 | 50.61
 income = <=50K.    | Categorical | <=50K              | 0           | 0.00        | 12,435 | 25.46
 income = >50K      | Categorical | <=50K              | 0           | 0.00        | 7,841  | 16.05
 income = >50K.     | Categorical | <=50K              | 0           | 0.00        | 3,846  | 7.87

In [22]:
df4

## Trailing Period Removal

In [23]:
from eda_toolkit import strip_trailing_period

# Create a sample dataframe with trailing periods in some values
data = {
    "values": [1.0, 2.0, 3.0, 4.0, 5.0, 6.0],
}
df_trail = pd.DataFrame(data)

# Remove trailing periods from the 'values' column
df_trail = strip_trailing_period(df=df_trail, column_name="values")
df_trail

   values
0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0

## Standardized Dates

In [24]:
from eda_toolkit import parse_date_with_rule

# Sample date strings
date_strings = ["15/04/2021", "04/15/2021", "01/12/2020", "12/01/2020"]

# Standardize the date strings
standardized_dates = [parse_date_with_rule(date) for date in date_strings]

print(standardized_dates)

['2021-04-15', '2021-04-15', '2020-12-01', '2020-01-12']

In [25]:
# Creating the DataFrame
data = {
    "date_column": [
        "31/12/2021",
        "01/01/2022",
        "12/31/2021",
        "13/02/2022",
        "07/04/2022",
    ],
    "name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "amount": [100.0, 150.5, 200.75, 250.25, 300.0],
}

df_fake = pd.DataFrame(data)

# Apply the function to the DataFrame column
df_fake["standardized_date"] = df_fake["date_column"].apply(parse_date_with_rule)

print(df_fake)

  date_column     name  amount standardized_date
0  31/12/2021    Alice  100.00        2021-12-31
1  01/01/2022      Bob  150.50        2022-01-01
2  12/31/2021  Charlie  200.75        2021-12-31
3  13/02/2022    David  250.25        2022-02-13
4  07/04/2022      Eve  300.00        2022-04-07

## DataFrame Analysis

In [26]:
from eda_toolkit import dataframe_profiler

dataframe_profiler(df=df, background_color="brown")

Shape:  (48842, 15)

Processing columns: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 15/15 [00:00<00:00, 36.64it/s]

Total seconds of processing time: 0.75206

## Binning Numerical Columns

In [27]:
bin_ages = [
    0,
    18,
    30,
    40,
    50,
    60,
    70,
    80,
    90,
    100,
    float("inf"),
]

In [28]:
label_ages = [
    "< 18",
    "18-29",
    "30-39",
    "40-49",
    "50-59",
    "60-69",
    "70-79",
    "80-89",
    "90-99",
    "100 +",
]

In [29]:
df["age_group"] = pd.cut(
    df["age"],
    bins=bin_ages,
    labels=label_ages,
    right=False,
)

## Generating Summary Tables for Variable Combinations

In [30]:
from eda_toolkit import summarize_all_combinations

# Define unique variables for the analysis
unique_vars = [
    "age_group",
    "workclass",
    "education",
    "occupation",
    "race",
    "sex",
    "income",
]

# Generate summary tables for all combinations of the specified variables
summary_tables, all_combinations = summarize_all_combinations(
    df=df,
    data_path=data_output,
    variables=unique_vars,
    data_name="census_summary_tables.xlsx",
)

# Print all combinations of variables
print(all_combinations)

Generating combinations: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 120/120 [00:02<00:00, 46.84it/s]
Writing summary tables: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 120/120 [00:50<00:00,  2.37it/s]
Finalizing Excel file: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 8756.38it/s]

Data saved to ../data_output/census_summary_tables.xlsx
[('age_group', 'workclass'), ('age_group', 'education'), ('age_group', 'occupation'), ('age_group', 'race'), ('age_group', 'sex'), ('age_group', 'income'), ('workclass', 'education'), ('workclass', 'occupation'), ('workclass', 'race'), ('workclass', 'sex'), ('workclass', 'income'), ('education', 'occupation'), ('education', 'race'), ('education', 'sex'), ('education', 'income'), ('occupation', 'race'), ('occupation', 'sex'), ('occupation', 'income'), ('race', 'sex'), ('race', 'income'), ('sex', 'income'), ('age_group', 'workclass', 'education'), ('age_group', 'workclass', 'occupation'), ('age_group', 'workclass', 'race'), ('age_group', 'workclass', 'sex'), ('age_group', 'workclass', 'income'), ('age_group', 'education', 'occupation'), ('age_group', 'education', 'race'), ('age_group', 'education', 'sex'), ('age_group', 'education', 'income'), ('age_group', 'occupation', 'race'), ('age_group', 'occupation', 'sex'), ('age_group', 'occupation', 'income'), ('age_group', 'race', 'sex'), ('age_group', 'race', 'income'), ('age_group', 'sex', 'income'), ('workclass', 'education', 'occupation'), ('workclass', 'education', 'race'), ('workclass', 'education', 'sex'), ('workclass', 'education', 'income'), ('workclass', 'occupation', 'race'), ('workclass', 'occupation', 'sex'), ('workclass', 'occupation', 'income'), ('workclass', 'race', 'sex'), ('workclass', 'race', 'income'), ('workclass', 'sex', 'income'), ('education', 'occupation', 'race'), ('education', 'occupation', 'sex'), ('education', 'occupation', 'income'), ('education', 'race', 'sex'), ('education', 'race', 'income'), ('education', 'sex', 'income'), ('occupation', 'race', 'sex'), ('occupation', 'race', 'income'), ('occupation', 'sex', 'income'), ('race', 'sex', 'income'), ('age_group', 'workclass', 'education', 'occupation'), ('age_group', 'workclass', 'education', 'race'), ('age_group', 'workclass', 'education', 'sex'), ('age_group', 'workclass', 'education', 'income'), ('age_group', 'workclass', 'occupation', 'race'), ('age_group', 'workclass', 'occupation', 'sex'), ('age_group', 'workclass', 'occupation', 'income'), ('age_group', 'workclass', 'race', 'sex'), ('age_group', 'workclass', 'race', 'income'), ('age_group', 'workclass', 'sex', 'income'), ('age_group', 'education', 'occupation', 'race'), ('age_group', 'education', 'occupation', 'sex'), ('age_group', 'education', 'occupation', 'income'), ('age_group', 'education', 'race', 'sex'), ('age_group', 'education', 'race', 'income'), ('age_group', 'education', 'sex', 'income'), ('age_group', 'occupation', 'race', 'sex'), ('age_group', 'occupation', 'race', 'income'), ('age_group', 'occupation', 'sex', 'income'), ('age_group', 'race', 'sex', 'income'), ('workclass', 'education', 'occupation', 'race'), ('workclass', 'education', 'occupation', 'sex'), ('workclass', 'education', 'occupation', 'income'), ('workclass', 'education', 'race', 'sex'), ('workclass', 'education', 'race', 'income'), ('workclass', 'education', 'sex', 'income'), ('workclass', 'occupation', 'race', 'sex'), ('workclass', 'occupation', 'race', 'income'), ('workclass', 'occupation', 'sex', 'income'), ('workclass', 'race', 'sex', 'income'), ('education', 'occupation', 'race', 'sex'), ('education', 'occupation', 'race', 'income'), ('education', 'occupation', 'sex', 'income'), ('education', 'race', 'sex', 'income'), ('occupation', 'race', 'sex', 'income'), ('age_group', 'workclass', 'education', 'occupation', 'race'), ('age_group', 'workclass', 'education', 'occupation', 'sex'), ('age_group', 'workclass', 'education', 'occupation', 'income'), ('age_group', 'workclass', 'education', 'race', 'sex'), ('age_group', 'workclass', 'education', 'race', 'income'), ('age_group', 'workclass', 'education', 'sex', 'income'), ('age_group', 'workclass', 'occupation', 'race', 'sex'), ('age_group', 'workclass', 'occupation', 'race', 'income'), ('age_group', 'workclass', 'occupation', 'sex', 'income'), ('age_group', 'workclass', 'race', 'sex', 'income'), ('age_group', 'education', 'occupation', 'race', 'sex'), ('age_group', 'education', 'occupation', 'race', 'income'), ('age_group', 'education', 'occupation', 'sex', 'income'), ('age_group', 'education', 'race', 'sex', 'income'), ('age_group', 'occupation', 'race', 'sex', 'income'), ('workclass', 'education', 'occupation', 'race', 'sex'), ('workclass', 'education', 'occupation', 'race', 'income'), ('workclass', 'education', 'occupation', 'sex', 'income'), ('workclass', 'education', 'race', 'sex', 'income'), ('workclass', 'occupation', 'race', 'sex', 'income'), ('education', 'occupation', 'race', 'sex', 'income'), ('age_group', 'workclass', 'education', 'occupation', 'race', 'sex'), ('age_group', 'workclass', 'education', 'occupation', 'race', 'income'), ('age_group', 'workclass', 'education', 'occupation', 'sex', 'income'), ('age_group', 'workclass', 'education', 'race', 'sex', 'income'), ('age_group', 'workclass', 'occupation', 'race', 'sex', 'income'), ('age_group', 'education', 'occupation', 'race', 'sex', 'income'), ('workclass', 'education', 'occupation', 'race', 'sex', 'income'), ('age_group', 'workclass', 'education', 'occupation', 'race', 'sex', 'income')]

## Saving DataFrames to Excel with Customized Formatting

In [31]:
from eda_toolkit import save_dataframes_to_excel

# Example usage
file_name = "df_census.xlsx"  # Name of the output Excel file
file_path = os.path.join(data_path, file_name)

# filter DataFrame to Ages 18-40
filtered_df = df[(df["age"] > 18) & (df["age"] < 40)]

df_dict = {
    "original_df": df,
    "ages_18_to_40": filtered_df,
}

save_dataframes_to_excel(
    file_path=file_path,
    df_dict=df_dict,
    decimal_places=0,
)

Saving DataFrames: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:09<00:00,  4.89s/it]

DataFrames saved to ../data/df_census.xlsx

## Creating Contingency Tables

In [32]:
from eda_toolkit import contingency_table

# Example usage
contingency_table(
    df=df,
    cols=[
        "age_group",
        "workclass",
        "race",
        "sex",
    ],
    sort_by=1,
)

    age_group     workclass   race     sex  Total  Percentage
0       30-39       Private  White    Male   5856       11.99
1       18-29       Private  White    Male   5623       11.51
2       40-49       Private  White    Male   4267        8.74
3       18-29       Private  White  Female   3680        7.53
4       50-59       Private  White    Male   2565        5.25
..        ...           ...    ...     ...    ...         ...
467     18-29     Local-gov  Other  Female      1        0.00
468     18-29  Never-worked  Black    Male      1        0.00
469     18-29  Never-worked  White  Female      1        0.00
470     90-99       Private  Black  Female      1        0.00
471                                         48842      100.00

[472 rows x 6 columns]

## Highlighting Specific Columns in a DataFrame

In [33]:
from eda_toolkit import highlight_columns

# Applying the highlight function
highlighted_df = highlight_columns(
    df=df.head(),
    columns=["age", "education"],
    color="brown",
)

highlighted_df